<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/admin_index.css}" rel="stylesheet"/>

</head>
<body>
	<div id="navbar">
		<nav class="menu">
			<ul>
				<li><a th:href="@{/index}">Home</a></li>
				<li><a th:href="@{/admin-index}">Admin</a></li>
				

			</ul>
		</nav>
	</div>

	<div id="content">
	
	<Br><Br><Br><br>
		<h1 style="text-align:center;">All Users </h1><br><Br>
		<div class="users_table_wrapper">
		<table class = "users_table">
			<thead>
				<tr>
					<th> User Id </th>
					<th> Email </th>
					
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="user : ${listUsers}">
                    <td th:text="${user.userId}"></td>
                    <td th:text="${user.email}"></td>
             
                    </tr>
			</tbody>
		
		</table>
</div>
</div>
	
		
			<div id="side">
			<div id="navbar2">
			<h2> </h2>
<nav class="menu2">
			<ul>
			<li> <a th:href="@{/workouts}">Workouts Offered</a> </li>
			<li><a th:href="@{/workouts/new}"> Add Workout</a></li>
 			<li><a th:href="@{/classes}">Upcoming Classes</a></li>
 			<li><a th:href="@{/classes/new}"> Add New Class</a></li>
			<li> <a th:href="@{/userclasses}"> See User Registered Classes</a> </li>

			</ul>
		</nav>
	</div>
	</div>
<footer>
		<p>&copy Tsion Yemane Development 2022. All Rights Reserved.</p>
	</footer>
	
</body>
</html>