<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>301Fitness Workouts</title>
<link th:href="@{/signup_form.css}" rel="stylesheet"/>

</head>
<body>
	<div id="navbar">
		<nav class="menu">
			<ul>
				<li><a th:href="@{/index}">Home</a></li>
				<li><a th:href="@{/user-index}">Clients</a></li>
				

			</ul>
		</nav>
	</div>
	<div id="content">

		
		<Br><Br>
	
<form id="user_form" th:action="@{/sign-up}" method="post">
  <label for="user">User:</label>
  <select id="user" name="userId">
    <option th:each="user : ${users}" th:value="${user.userId}" th:text="${user.email}"></option>
  </select>
  <br><br><Br>
  <label for="class">Workout Class:</label>
  <select id="class" name="classId">
    <option th:each="workoutClass : ${classes}" th:value="${workoutClass.classId}"th:text="${workoutClass.classId}"></option>
  </select>
  <br><br><br><br><br>
  <button type="submit">Sign Up</button>
</form>
</div>

<div id="side">
			<div id="navbar2">
			<h2> </h2>
<nav class="menu2">
			<ul>
				<li> <a th:href="@{/user-workouts}">Workouts Offered</a> </li>
			
 			<li><a th:href="@{/user-view-classes}">Upcoming Classes</a></li>
 			
			<li> <a th:href="@{/userclasses}"> Your Upcoming Classes</a> </li>

			</ul>
		</nav>
	</div>
	</div>
<footer>
		<p>&copy Tsion Yemane Development 2022. All Rights Reserved.</p>
	</footer>
	
</body>
</html>

</body>
</html>