<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div><h1>Create New workout</h1></div>

<form th:action="@{/workouts/save}" th:object = "${workout}" method="POST">
						
						
						<div class ="form-group">
							<label> workout Type </label>
							<input
							type = "text"
							name = "workoutType"
							th:field = "*{workoutType}"
							class = "form-control"
							placeholder="Enter workout type" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Price </label>
							<input
							type = "text"
							name = "price"
							th:field = "*{price}"
							class = "form-control"
							placeholder="Enter price" 
							/>
						</div>
						
						
					
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
</body>
</html>