<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>301Fitness Workouts</title>
<link th:href="@{/new_workout.css}" rel="stylesheet"/>

</head>
<body>
	<div id="navbar">
		<nav class="menu">
			<ul>
				<li><a th:href="@{/index}">Home</a></li>
				<li><a th:href="@{/admin-index}">Admin</a></li>
				

			</ul>
		</nav>
	</div>
	
	<div id="content">
<h1>Offer New Workout</h1>

<form id="workout_form" th:action="@{/workouts/save}" th:object = "${workout}" method="POST">
						
						
						<div class ="form-group">
							<label> Workout Type </label>
							<input
							id = "type"
							type = "text"
							name = "workoutType"
							th:field = "*{workoutType}"
							class = "form-control"
							placeholder="Enter workout type" 
							/>
						</div>
						<Br><Br>
						<div class ="form-group">
							<label> Price </label>
							<input
							id = "price"
							type = "text"
							name = "price"
							th:field = "*{price}"
							class = "form-control"
							placeholder="Enter price" 
							/>
						</div>
						<Br><br><br>
						
					
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
					</div>
					
					<div id="side">
			<div id="navbar2">
			<h2> </h2>
<nav class="menu2">
			<ul>
			<li> <a th:href="@{/workouts}">Workouts Offered</a> </li>
			<li><a th:href="@{/workouts/new}"> Add Workout</a></li>
 			<li><a th:href="@{/classes}">Upcoming Classes</a></li>
 			<li><a th:href="@{/classes/new}"> Add New Class</a></li>
			<li> <a th:href="@{/userclasses}"> See User Registered Classes</a> </li>

			</ul>
		</nav>
	</div>
	</div>
<footer>
		<p>&copy Tsion Yemane Development 2022. All Rights Reserved.</p>
	</footer>
	
</body>
</html>
</body>
</html>